<button class="btn btn-info" (click)="onAddContact()">
    Add Contact
</button>
<div class="card border-primary mt-3">
    <div class="card-header bg-primary text-white">
        Contacts Component
    </div>
    <div class="card-body">
        <div *ngIf="contacts.length>0;else noContacts">
            <h3>Contact List</h3>
            <table class="table table-hover">
                <thead>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </thead>
                <tbody>
                    <tr *ngFor="let contact of contacts">
                        <td>{{contact.name}}</td>
                        <td><a routerLink="/contacts/{{contact.id}}" class="btn btn-success">Detail</a></td>
                        <td><a routerLink="/contacts/edit/{{contact.id}}" class="btn btn-warning">Edit</a></td>
                        <td><button class="btn btn-danger" (click)="onDelete(contact.id)" [disabled]="isWaitingDelete">
                              Delete
                            </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
       <div *ngIf="isWaitingDelete">
        <span  class="spinner-border" role="status"></span>
        <h4>Contact Deleting... please wait!</h4>
       </div>
        
        <div [hidden]="!isWaiting">
            <div class="spinner-border" role="status">
            </div>
            <h4>Looading... please wait!</h4>
        </div>
        <ng-template #noContacts>
            <p class="alert alert-warning">
                No contact found!
            </p>
            <div *ngIf="errMsg" class="alert alert-danger">
                <strong>Error!</strong> {{errMsg}}
            </div>
        </ng-template>

    </div>

</div>


<button class="btn btn-primary mt-5" (click)="onAbout()">
    Go to about
</button>